<% layout('layout') -%>

<div class="page-header1">
	<h3 align="center"><b>SELAMAT DATANG</b><br/></h3>
		<h4 align="center"><b>Aplikasi Pencarian Skripsi
			<br/>STMIK AKAKOM Yogyakarta</b><br/></h4>
				<p align="center">Jl. Raya Janti 143, Karang Jambe, Yogyakarta 55198</p>
</div>

<div class="page-header2">
	<h2 align="center">
		<font color="#001a33">
			<b>STMIK AKAKOM YOGYAKARTA</b>
		</font>
	</h2>
</div> 

<form id="data" role="form" method="post" action="/sederhana">
  <div class="form-group">
  <br/><p>
		<label for="nama">Pencarian Sederhana </label><br/>
	</p>
		<input name="q"  class="form-control" placeholder="Cari" required autofocus />
	<br/><p>
		<input type="submit" class="btn btn-primary" value="OK">
		<button class="btn btn-raised btn-warning" type="reset">Hapus</Button>
		<a href="/cariData"><button class="btn btn-raised btn-warning" >Kembali</Button></a>
	</p>
</form> 
	<div id="flip">
		<input type="" class="btn btn-primary" value="Pencarian Advance">
	</div>
		<div id="panel"><br/>
			<form id="data" role="form" method="post" action="/advance">
				<p>
					<label for="nama" >Judul Skripsi: </label><br/>
				</p>
					<input type="text" input name="j"  class="form-control" placeholder="Cari" required autofocus /><br/>
				<p>
					<input type="submit" class="btn btn-primary" value="OK">
						<button class="btn btn-raised btn-warning" type="reset">Hapus</Button>
				</p>
		</div>		

		<b><%- message %> <font color="red"><%- data %></font> 	jumlah Skripsi : <font color="red"><%- jmlh %></font> Examplar</b> 
	</div>
<table  class="table table2 table-hover" align="center">
		<tr>
			<th>JUDUL SKRIPSI</th>
			<th>TAHUN SKRIPSI</th>
			<th>NAMA MAHASISWA</th>
			<th>NIM MAHASISWA</th>
			<th>JURUSAN MAHASISWA</th>
			<th>JENJANG MAHASISWA</th>
		</tr>
		<% skripses.forEach(function(dataku){ %>
			<tr>
				<td style="display:none;"><%= dataku._id %></td>
				<td style="display:none;"><%= dataku.modified %></td>
				<td><a href="/<%= dataku._id %>/detail"><%= dataku.jdlSkripsis %></a> </td>
				<td><%= dataku.thnSkripsis %></td>
				<td><%= dataku.namaMhs %></td>
				<td><%= dataku.nimMhs %></td>
				<td><%= dataku.jurMhs %></td>
				<td><%= dataku.jenjangMhs %></td>
			<tr>
		<% })%>
	</table>

</form>
<div class="panel-footer">
    copyright@STMIK AKAKOM Yogyakarta
 </div>